<aside class="sidebar-container">
    <div class="search-header">
        <label>Cerca de pacients</label>
        <input type="text" placeholder="Nom o DNI..." (input)="updateSearch($event)" [value]="searchTerm()" />
    </div>

    <div class="list-body">
        @if (isLoading()) {
            <div class="status-msg">Carregant pacients...</div>
        } @else {
            <div class="patients-stack">
                @for (patient of filteredPatients(); track patient.id) {
                    <button class="patient-card" [class.active]="selectedPatientId() === patient.id"
                        (click)="selectPatient.emit(patient)">
                        <div class="avatar">
                            <img [src]="getPatientAvatarSrc(patient)" [alt]="patient.firstName + ' ' + patient.lastName" />
                        </div>

                        <div class="info">
                            <span class="name">{{ patient.firstName }} {{ patient.lastName }}</span>
                            <span class="meta">DNI {{ patient.nationalId }}</span>
                        </div>
                    </button>
                } @empty {
                    <div class="status-msg">No s'han trobat pacients.</div>
                }
            </div>
        }
    </div>
</aside>
