<nav class="navbar">
  <div class="nav-container">
    <!-- Logo -->
    <div class="nav-brand" routerLink="/home">
      OdontoManage
    </div>

    <!-- Enlaces de Navegación -->
    <ul class="nav-links">
      <li>
        <a routerLink="/home" routerLinkActive="active">Inicio</a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/patients/create" routerLinkActive="active">Nuevo Paciente</a>
      </li>
    </ul>

     <div class="nav-user">      
      
      @if (authService.currentUser(); as user) {
        <!-- Esto se muestra INSTANTÁNEAMENTE al recargar porque viene del token -->
        <div class="user-info">
          <span class="user-name">Hola, {{ user.name }} </span> 
          <span class="user-email">{{ user.email }}</span>
        </div>

        <button (click)="logout()" class="btn-logout-nav">
          Cerrar Sesión
        </button>
      } @else {
        <!-- Esto se muestra si no hay token o expiró -->
        <a routerLink="/login" class="btn-login-nav">Iniciar Sesión</a>
      }

    </div>
  </div>
</nav>