<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/home" class="nav-brand">OdontoManage</a>
    <ul class="nav-links">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path d="M3 11.5L12 4l9 7.5V20a1 1 0 0 1 -1 1h-5v-6H9v6H4a1 1 0 0 1 -1 -1z" />
          </svg>
          <span>Inici</span>
        </a>
      </li>
      <li>
        <a routerLink="/patients" routerLinkActive="active">
          <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
          </svg>
          <span>Pacients</span>
        </a>
      </li>
      <li>
        <a routerLink="/appointments" routerLinkActive="active">
          <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
          <span>Cites</span>
        </a>
      </li>
      <li>
        <a routerLink="/documents" routerLinkActive="active">
          <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
          </svg>
          <span>Documents</span>
        </a>
      </li>
      <li>
        <a routerLink="/odontogram" routerLinkActive="active">
          <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M12 2c-3.314 0 -6 2.761 -6 6.167c0 2.443 1.37 4.55 3.35 5.543L10 20a2 2 0 0 0 4 0l.65 -6.29c1.98 -.993 3.35 -3.1 3.35 -5.543C18 4.761 15.314 2 12 2z"></path>
          </svg>
          <span>Odontogrames</span>
        </a>
      </li>
    </ul>
    <a class="avatar-circle" routerLink="/profile" routerLinkActive="active">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon-user">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
        <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" />
      </svg>
    </a>
  </div>
</nav>
